source https://nuget.org/api/v2
storage:none
framework:netstandard2.0,netcoreapp2.0

nuget Fable.Core
nuget Fable.PowerPack
nuget Fable.React
nuget Fable.Import.Browser
nuget Fable.Import.Node
nuget Fulma
